@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;500;700&display=swap');
:root{
    --body-bg-color: #1E1F1C;
    --header-bg: #34352F;
    --container-bg: #272822;
    --link-hover: #4e94ce;
    --green-link: #A6E12E;
    --heading-white: #F8F8F2;
    --text-white: #E4E4DE;
    --subheading-color: #cfcfc2;
    --hr-color: #88846f;
    --margin: 1.5rem;
    --faded-text-color: #88846f;
    --orange-text: #fd971f;
}
*, *::before, *::after{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    font-size: 100%;
}
body{
    font-family: 'Fira Code', monospace;
    background-color: var(--body-bg-color);
    color: var(--text-white);
}
a{
    color: inherit;
}
.container{
    max-width: 850px;
    margin: 0 auto;
    margin-top: 5%;
    background-color: var(--container-bg);
    padding-bottom: 40%;
    overflow: hidden;
}

/* Menu styling */
header {
    background-color: var(--body-bg-color);
  }
  nav {
    width: 50%;
    display: flex;
    justify-content: space-between;
  }
  nav a {
    width: 100%;
    padding: 10px 10px;
    text-decoration: none;
    color: var(--textColor);
    background-color: var(--header-bg);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-right: 2px solid var(--container-bg);
  }
  
  a.active {
    background-color: var(--container-bg);
    color: var(--heading-white);
  }

/* main content styling */
.text{
    padding-inline: 8ch;
    padding-top: 3ch;
}
section{
   margin: calc(var(--margin) * 2) 0; 
   display: flex;
}
section p{
    margin: var(--margin) 0;
}
.orange-text{
    color: var(--orange-text);
}
.green-underline{
    color: var(--green-link);
}
.green-underline:hover{
    color: var(--link-hover);
}
.title{
    display: flex;
    justify-content: space-between;
}
.left, .right{
    line-height: 24px;
}
.left .heading{
    font-size: 20px;
    font-weight: 700;
    color: var(--heading-white);
}
.left .subheading{
    font-weight: 500;
    color: var(--subheading-color);
}
.right{
    font-size: 13px;
    color: var(--subheading-color);
    text-align: right;
}

img{
    width: 200px;
    margin: 20px;
}
.browser-image{
    margin: var(--margin) 0;
}
.browser-image img,
.image img{
    width: 100%;
    height: auto;
    object-fit: contain;
    object-position: center;
    cursor: zoom-in;
    touch-action: pan-x pan-y;
}
.symbol-list{
    list-style: none;
    margin: var(--margin) 0;
}
.symbol-list li::before{
    content: '>';
    padding-right: var(--margin);
}
.symbol-list li{
    color: var(--faded-text-color);
}
.question-title{
    font-weight: 700;
    font-size: 20px;
    color: var(--heading-white);
}
.image-subtitle{
    margin: 0;
    text-align: center;
    font-size: 13px;
    color: var(--subheading-color);
}
.scroll-container{
    overflow-x: auto;
    padding: var(--margin) 0;
    background-color: var(--body-bg-color);
    /* width: 120%; */
    margin: 0 auto;
    white-space: nowrap;
}
.scroll-container::before{
    content: '';
    background-color: var();
    
}

/* footer style */
/* footer */
footer {
    display: flex;
  }
  
  footer .links {
    display: flex;
    gap: 2em;
    width: 70%;
  }
  footer .mode {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    width: 30%;
    align-items: center;
    margin-top: 7px;
    align-self: flex-start;
  }
  footer .dot {
    display: flex;
    gap: 6px;
  }
  footer .fa-circle {
    margin-top: 12px;
    font-size: 5px;
    color: var(--green-link);
  }
  footer a:hover {
    color: var(--link-hover);
  }
  .dot:hover .fa-circle {
    color: var(--link-hover);
  }
   .neon {
    text-decoration: none;
    color: var(--green-link);
    font-size: 18px;
    padding-bottom: 1.1em;
    position: relative;
  }
   .neon::after {
    content: "";
    position: absolute;
    top: 1em;
    bottom: 1em;
    left: 0;
    right: 0;
    border-bottom: 2px solid var(--green-link);
  }
   .neon:hover::after {
    border-bottom: 2px solid var(--link-hover);
  }

  .mode select {
    border: none;
    background-color: transparent;
    color: var(--headingColor);
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 300;
    outline: none;
    display: flex;
    justify-content: flex-end;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
    cursor: pointer;
   }
   .mode:hover select,.mode:hover .arrow-down{
       color: var(--linkHoverColor);
   }
   .mode select option{
       background-color: black;
   }
   .mode:hover option{
       color: white;
   }