*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root,
:root.dark-theme {
    --color-bg: #252526;
    --color-editor: #1e1e1e;
    --color-body-text: #d4d4d4;
    --color-secondary-text: #bbbbbb;
    --color-line-text: #858585;
    --color-line-text-hover: #c6c6c6;
    --color-line-highlight-bg: transparent;
    --color-comment: #6a9955;
    --color-tab: #2d2d2d;
    --color-tab-text: #ffffff80;
    --color-tab-text-active: #ffffff;
    --color-accent-1: #4ec9b0;
    --color-accent-2: #4e94ce;
    --color-selection: #264f78;
    --color-scrollbar-border: #7f7f7f4d;
    --color-scrollbar-thumb: #79797966;
    --color-scrollbar-thumb-hover: #646464b3;
    --color-scrollbar-thumb-active: #bfbfbf66;
    --color-scrollbar-shadow: #000000;
    --color-focus: #007fd4;
    --color-tab-icon-hover: #5a5d5e50;
    --color-tab-icon-active: #63666750;
    --color-code-bg: #1c1c1c;
    --color-code-text: #d4d4d4;
    --color-code-text-inline: #ce9178;
    --color-code-keyword: #569cd6;
    --color-code-function: #4ec9b0;
    --color-code-operator: #d4d4d4;
    --color-code-string: #ce9178;
    --color-code-variable: #9cdcfe;
    --color-code-constant: #4fc1ff;
    --color-code-punctuation: #d4d4d4;
    --color-code-comment: #6a9955;
    --color-quote: var(--color-body-text);
    --color-quote-symbols: var(--color-comment);
    --color-error-foreground: #f48771;
    --color-warning-foreground: #cca700;
}

:root.light-theme{
    --color-bg: #f3f3f3;
    --color-editor: #ffffff;
    --color-body-text: #000000;
    --color-secondary-text: #444444;
    --color-line-text: #237893;
    --color-line-text-hover: #0b216f;
    --color-line-highlight-bg: transparent;
    --color-comment: #008000;
    --color-tab: #ececec;
    --color-tab-text: #333333b3;
    --color-tab-text-active: #333333;
    --color-accent-1: #267f99;
    --color-accent-2: #0000ff;
    --color-selection: #add6ff;
    --color-scrollbar-border: #7f7f7f4d;
    --color-scrollbar-thumb: #64646466;
    --color-scrollbar-thumb-hover: #646464b3;
    --color-scrollbar-thumb-active: #00000099;
    --color-scrollbar-shadow: #dddddd;
    --color-focus: #0090f1;
    --color-tab-icon-hover: #b8b8b850;
    --color-tab-icon-active: #a6a6a650;
    --color-code-bg: #fbfbfb;
    --color-code-text: #001080;
    --color-code-text-inline: #800000;
    --color-code-keyword: #0000ff;
    --color-code-function: #795e26;
    --color-code-operator: #000000;
    --color-code-string: #a31515;
    --color-code-variable: #000000;
    --color-code-constant: #098658;
    --color-code-punctuation: #000000;
    --color-code-comment: #008000;
    --color-quote: var(--color-body-text);
    --color-quote-symbols: #0451a5;
    --color-error-foreground: #a1260d;
    --color-warning-foreground: #bf8803;
}
:root.monokai-theme {
    --color-bg: #1e1f1c;
    --color-editor: #272822;
    --color-body-text: #f8f8f2;
    --color-secondary-text: #cfcfc2;
    --color-line-text: #90908a;
    --color-line-text-hover: #c2c2bf;
    --color-line-highlight-bg: #3e3d32;
    --color-comment: #88846f;
    --color-tab: #34352f;
    --color-tab-text: #ccccc7;
    --color-tab-text-active: #ffffff;
    --color-accent-1: #a6e22e;
    --color-accent-2: #4e94ce;
    --color-selection: #878b9180;
    --color-scrollbar-border: #7f7f7f4d;
    --color-scrollbar-thumb: #79797966;
    --color-scrollbar-thumb-hover: #646464b3;
    --color-scrollbar-thumb-active: #bfbfbf66;
    --color-scrollbar-shadow: #000000;
    --color-focus: #75715e;
    --color-tab-icon-hover: #5a5d5e50;
    --color-tab-icon-active: #63666750;
    --color-code-bg: #22231e;
    --color-code-text: #ffffff;
    --color-code-text-inline: #fd971f;
    --color-code-keyword: #f92672;
    --color-code-function: #66d9ef;
    --color-code-operator: #f92672;
    --color-code-string: #e6db74;
    --color-code-variable: #ffffff;
    --color-code-constant: #ae81ff;
    --color-code-punctuation: #ffffff;
    --color-code-comment: var(--color-comment);
    --color-quote: var(--color-comment);
    --color-code-inserted: #a6e22e;
    --color-code-removed: #f92672;
    --color-error-foreground: #f48771;
    --color-warning-foreground: #cca700;
}
:root.github-dark-theme{
    --color-bg: #1b1f23;
    --color-editor: #24292e;
    --color-body-text: #e1e4e8;
    --color-secondary-text: #959da5;
    --color-line-text: #768390;
    --color-line-text-hover: #e1e4e8;
    --color-line-highlight-bg: #2b3036;
    --color-comment: #6a737d;
    --color-tab: #1f2428;
    --color-tab-text: #959da5;
    --color-tab-text-active: #e1e4e8;
    --color-accent-1: #96d0ff;
    --color-accent-2: #4e94ce;
    --color-selection: #3392ff44;
    --color-scrollbar-border: #1b1f23;
    --color-scrollbar-thumb: #6a737d33;
    --color-scrollbar-thumb-hover: #6a737d44;
    --color-scrollbar-thumb-active: #6a737d88;
    --color-scrollbar-shadow: #00000088;
    --color-focus: #005cc5;
    --color-tab-icon-hover: #5a5d5e50;
    --color-tab-icon-active: #63666750;
    --color-code-bg: #202428;
    --color-code-text: #e1e4e8;
    --color-code-text-inline: #9ecbff;
    --color-code-keyword: #f97583;
    --color-code-function: #b392f0;
    --color-code-operator: #f97583;
    --color-code-string: #9ecbff;
    --color-code-variable: #9cdcfe;
    --color-code-constant: #79b8ff;
    --color-code-punctuation: #e1e4e8;
    --color-code-comment: #6a737d;
    --color-quote: #85e89d;
    --color-error-foreground: #f97583;
    --color-warning-foreground: #ffea7f;
}
:root.github-light-theme {
    --color-bg: #f6f8fa;
    --color-editor: #ffffff;
    --color-body-text: #24292e;
    --color-secondary-text: #6a737d;
    --color-line-text: #1b1f234d;
    --color-line-text-hover: #24292e;
    --color-line-highlight-bg: #f6f8fa;
    --color-comment: #6a737d;
    --color-tab: #eff2f6;
    --color-tab-text: #6a737d;
    --color-tab-text-active: #2f363d;
    --color-accent-1: #032f62;
    --color-accent-2: #0000ff;
    --color-selection: #0366d625;
    --color-scrollbar-border: #ffffff;
    --color-scrollbar-thumb: #959da533;
    --color-scrollbar-thumb-hover: #959da544;
    --color-scrollbar-thumb-active: #959da588;
    --color-scrollbar-shadow: #6a737d33;
    --color-focus: #2188ff;
    --color-tab-icon-hover: #b8b8b850;
    --color-tab-icon-active: #a6a6a650;
    --color-code-bg: #fcfcfc;
    --color-code-text: var(--color-body-text);
    --color-code-text-inline: var(--color-code-string);
    --color-code-keyword: #d73a49;
    --color-code-function: #6f42c1;
    --color-code-operator: #d73a49;
    --color-code-string: #032f62;
    --color-code-variable: #9cdcfe;
    --color-code-constant: #79b8ff;
    --color-code-punctuation: var(--color-body-text);
    --color-code-comment: #6a737d;
    --color-quote: #22863a;
    --color-error-foreground: #cb2431;
    --color-warning-foreground: #855f00;
}
:root.solarized-light-theme {
    --color-bg: #eee8d5;
    --color-editor: #fdf6e3;
    --color-body-text: #333333;
    --color-secondary-text: #586e75;
    --color-line-text: #237893;
    --color-line-text-hover: #567983;
    --color-line-highlight-bg: #eee8d5;
    --color-comment: #93a1a1;
    --color-tab: #e4ddc9;
    --color-tab-text: #586e75;
    --color-tab-text-active: #333333;
    --color-accent-1: #268bd2;
    --color-accent-2: #0000ff;
    --color-selection: #eee8d5;
    --color-scrollbar-border: #7f7f7f4d;
    --color-scrollbar-thumb: #64646466;
    --color-scrollbar-thumb-hover: #646464b3;
    --color-scrollbar-thumb-active: #00000099;
    --color-scrollbar-shadow: #dddddd;
    --color-focus: #d3af86;
    --color-tab-icon-hover: #b8b8b850;
    --color-tab-icon-active: #a6a6a650;
    --color-code-bg: #f9f1dc;
    --color-code-text: #333333;
    --color-code-text-inline: #2aa198;
    --color-code-keyword: #268bd2;
    --color-code-function: #268bd2;
    --color-code-operator: #859900;
    --color-code-string: #2aa198;
    --color-code-variable: #268bd2;
    --color-code-constant: #d33682;
    --color-code-punctuation: #333333;
    --color-code-comment: #93a1a1;
    --color-quote: #859900;
    --color-error-foreground: #a1260d;
    --color-warning-foreground: #bf8803;
}

body {
    background-color: var(--color-bg);
    color: var(--color-body-text);
    font-family: "Fira Code";

}



a{
    text-decoration: none;
}
.container{
    /* width: 65%; */
    margin: 0 auto;
    margin-top: 15vh;
    max-width: 800px;
    
}
.head{
    display: flex;
    width: 70%; 
    justify-content: space-between;
    background-color: var(--color-tab);
   
}
.head a{
    white-space: nowrap;
    padding: 1vh 1rem;
    color: var(--color-body-text);
}
.dont-build{
    display: flex;
    gap: 0%;
}
.head .active{
    background-color: var(--color-editor);
}


/* body container */
.body-container{
    position: relative;
    background-color: var(--color-editor);
  padding: 0 10% 90vh 10%;


}
/* numbering style */
.body-container ol{
    position: absolute;
    line-height: 1.74;
    color: var(--color-line-text);
   list-style: none;
   counter-reset: counter;
   left: 3%;
    /* top: 4.3%; */
}
ol .hide{
  display: none;
}
li{
    text-align: center;
}

ol li::before{
    counter-increment: counter;
    content: counter(counter);
    
}
/* first body */
.first-body{
    padding: 0 0rem;
    display: flex;
    /* justify-content: space-between; */
}
.first-body h4{
    padding: 0 0%;
}
.body-date{
    width: 20%;
}
.img-body{
    width: 100%;
}
.img-body img{
    width: 100%;
}
/* text section */
.dont-text{
   
}
.dont-text h3{
    font-size: 20px;
    padding: 5vh 0 1vh;
}
.dont-text p{
    font-size: 16px;
    margin-top: 48px;
    /* padding: 1vh 0; */
    line-height: 24px;
}
.it{
    margin-top: 48px;
}
.it p{
    margin-top: 0;
}
.it p::before{
    content: "-";
    padding-right: 1rem;
    color: var(--color-accent-1);
}

.dont-text span, .dont-text code{
    color: var(--color-code-text-inline);
}
.code::after{
    content: '<div id="__next">';
    color: var(--color-warning-foreground) ;
}
.dont-text ul{
    list-style: none;
}
.dont-text li::before{
    content: "-";
    margin-right: 2ch;
    color: var(--color-accent-1);
}
.dont-text li{
    display: flex;
    align-items: flex-start;
}
blockquote{
    margin-top: 48px;
    display: flex;
    overflow: hidden;
    
}
blockquote::before{
    content: "> > > > > > > > > > > > > > > > > > > > > > > > > > > > > > > > > > > > > > > >";
    width: 1ch;
    height: 0vh;
    margin-right: 2ch;
    color: var(--color-quote-symbols);
    position: relative;
    z-index: 20;
    line-height: 24px;
    /* padding-top: 2px; */
}
.wrapper{
    flex-grow: 1;
    /* width: 0; */
}
.wrapper p{
    margin-top: 0;
}
.out-link{
    color: var(--color-accent-1);
    position: relative;
    
}
.out-link::after{
    content: "";
    position: absolute;
    top: 1.3rem;
    bottom: 1rem;
    left: 0;
    right: 0;
    border-bottom: 1px solid var(--color-accent-1);
}
.out-link:hover{
    color: var(--color-accent-2);
}
.out-link:hover::after{
    border-bottom: 1px solid var(--color-accent-2);
}
.dont-text img{
    width: 100%;
    margin: 2vh 0;
}
/* slash section */
.slash {
    position: relative;
    padding: 0 0rem;
    padding-top: 1em;
    padding-bottom: 5em;
  }
  .slash::before {
    content: "//";
    position: absolute;
    color: var(--dateColor);
    font-size: 25px;
  }
  .slash::after {
    content: "--------------------------------------------------------";
    position: absolute;
    color: var(--color-body-text);
    font-size: 30px;
    right: 0;
    font-family: "Times New Roman", Times, serif;
    margin-right: 2rem;
  }
  /* footer section */
  .footer{
    display: flex;
    justify-content: space-between;
  }
  .social{
    display: flex;
    width: 60%;
    justify-content: space-between;
  }
  .social a{
    color: var(--color-accent-1);
    font-size: 16px;
    text-decoration: underline;
    line-height: 24px;
  }
  .social a:hover{
    color: var(--color-accent-2);
  }
.theme{

}
    .theme select{
    border: 0;
    outline: 0;
    background-color: var(--defaultContainer);
    color: var(--color-accent-2);
}
.theme option{
    font-size: 24px;
}