@media screen and (max-width:600px){
    .container{
        margin: 0;
        width: 100%;
        
    }
    ol{
     top: 2.5%;
     line-height: 1.455;
     }
 ol .hide{
     display: block;
     }
     ol .hide6{
         display: none;
     }
 
    nav{
        width: 70%;
    }
    .main .neon{
        font-size: 16px;
    }
    .main .neon::after {
     
     border-bottom: 1px solid var(--color-accent-1);
   }
        footer{
        flex-direction: column;
        gap: 1em;
    }
    footer .links{
        flex-direction: column;
        justify-content: right;
        gap: .5em;
    }
    footer .dot{
        display: none;
    }
    
    footer .fa-circle{
        display: none;
    }
    footer .mode{
        justify-content: flex-start;
    }
      .slash::after {
        font-size: 23px;
      }
    .main{
        padding: 2em;
        padding-left: 4em;
        padding-right: 8em;
    }
   
    .about_dodov{
        gap: .8em;
    }
    .about_dodov .side_text{
        flex-direction: row;
        flex-wrap: wrap;
    }
    .about_dodov .description{
        margin-left: -50%;
        margin-top: 2em;
    }
    .about_dodov .image{
        background-position: top;
    }
    .about_dodov .heading h1{
        font-size: 18px;
        margin-bottom: 0;
    }
    .about_dodov .heading .title{
        font-size: 16px;
        margin-top: 35px;
    }
    .latest_articles{
        gap: 1.7em;
    }
    .latest_articles .article{
        flex-direction: column;
        gap: .8em;
    }
   .latest_articles .sup_header{
       font-size: 20px;
   }
    .latest_articles .image{
       margin-bottom: 0;
       width: 100%;
    }
    .latest_articles .image1{
       margin-top: 0;
    }
    
    .latest_articles .side_text{
        width: 100%;
    }
    
    .article .side_text p{
     font-size: 16px;
 }
     .article .heading .grayLink{
         font-size: 17px;
     }
    .continue {
        width: 50%;
    }
    .continue a{
        font-size: 16px;
    }

     .projects{
         margin-top: 5em;
     }
     .projects h1{
         font-size: 17px;
     }
    .projects .side_text{
        display: flex;
      flex-wrap: wrap;
       
    }
    .projects .side_text .a{
        order: 1;
        width: 100%;
        font-size: 17px;
    }
    .projects .side_text .neon{
        order: 2;
        font-size: 14px;
    }
    .projects .side_text p{
        order: 3;
     font-size: 14px;
        margin-left: -25%;
        margin-top: .5em;
    }
    .projects .side_text1 p{
        margin-left: -28%;
    }
    .projects .nexo_img, .projects .rundown_img{
     width: 250px;
     height: 60px;
     background-size: contain;
     background-position: left;
    }
    .projects .box{
        gap: 0;
    }
    .mode select{
        font-size: 15px;
    }
 }

 @media screen and (max-width:540px) {
      ol{
        top: 2.8%;
        line-height: 1.52;
        }
 }
@media screen and (max-width:420px){
   .container{
       margin: 0;
       width: 100%;
       
   }
   ol{
    top: 3.1%;
    line-height: 1.383;
    }
ol .hide{
    display: block;
    }

   nav{
       width: 70%;
   }
   .main .neon{
       font-size: 16px;
   }
   .main{
       padding: 2em;
       padding-left: 3em;
   }
  
   .about_dodov{
       gap: .8em;
   }
   .about_dodov .side_text{
       flex-direction: row;
       flex-wrap: wrap;
   }
   .about_dodov .description{
       margin-left: -50%;
       margin-top: 1.5em;
   }
   .about_dodov .image{
       background-position: top;
   }
   .about_dodov .heading h1{
       font-size: 18px;
       margin-bottom: 0;
   }
   .about_dodov .heading .title{
       font-size: 14px;
       margin-top: 20px;
   }
   .latest_articles{
       gap: 0;
   }
   .latest_articles .article{
       flex-direction: column;
       gap: 0;
   }
  .latest_articles .sup_header{
      font-size: 17px;
  }
  .latest_articles .image{
    margin-bottom: 1em;
    width: 100%;
 }
 .latest_articles .image1{
    margin-top: 1em;
 }
   
   .latest_articles .side_text{
       width: 100%;
   }
   
   .article .side_text p{
    font-size: 14px;
}
    .article .heading .grayLink{
        font-size: 17px;
    }
   .continue {
       width: 50%;
   }
   .continue a{
       font-size: 16px;
   }
    .projects{
        margin-top: 5em;
    }
    .projects .box{
        gap: 1em;
    }
    .projects h1{
        font-size: 17px;
    }
   .projects .side_text{
       display: flex;
     flex-wrap: wrap;
      
   }
   .projects .side_text .a{
       order: 1;
       width: 100%;
       font-size: 17px;
   }
   .projects .side_text .neon{
       order: 2;
       font-size: 14px;
       padding-top: 10px;
   }
   .projects .side_text p{
       order: 3;
    font-size: 14px;
       margin-left: -31%;
       margin-top: .5em;
   }
   
   .projects .side_text1 p{
       order: 3;
    font-size: 14px;
       margin-left: -34%;
       margin-top: .5em;
   }
   
   .projects .nexo_img, .projects .rundown_img{
    width: 250px;
    height: 60px;
    background-size: contain;
    background-position: left;
   }
   .mode select{
       font-size: 15px;
   }
}
