* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --textFont: 18px;
  --headingFont: 25px;
  --headingColor: #f8f8f2;
  --textColor: #cfcfc2;
  --defaultLinkColor: #a6e22e;
  --numberColor: #90908a;
  --dateColor: #66665e;
  --defaultBody: #1e1f1c;
  --defaultContainer: #272822;
  --inactiveNav: #34352f;
  --linkHoverColor: #4e94ce;
  --linkFont: 18px;
  --nav: #34352f;
  --continueFont: 22px;
}
body {
  background-color: var(--defaultBody);
  font-family: "Fira Code";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}


.container {
  background-color: var(--defaultContainer);
  max-width: 850px;
  margin: 5% auto;
  margin-bottom: 0;
  padding-bottom: 40%;
  position: relative;
}


/* Menu styling */
header {
  background-color: var(--defaultBody);
}
nav {
  width: 50%;
  display: flex;
  justify-content: space-between;
}
nav a {
  width: 100%;
  padding: 10px 10px;
  text-decoration: none;
  color: var(--textColor);
  background-color: var(--nav);
  border-right: 2px solid var(--defaultContainer);
}

a.active {
  background-color: var(--defaultContainer);
  color: var(--headingColor);
}
/* numbering style */
ol{
    position: absolute;
    line-height: 1.74;
    color: var(--numberColor);
   list-style: none;
   counter-reset: counter;
   left: 3%;
    top: 4.3%;
}
ol .hide{
  display: none;
}
li{
    text-align: right;
}

ol li::before{
    counter-increment: counter;
    content: counter(counter);
    
}
/* Main content */
.main {
  padding: 3rem 5rem;
  padding-right: 3;
}
.main a:hover {
  color: var(--linkHoverColor);
}
.main .neon {
  text-decoration: none;
  color: var(--defaultLinkColor);
  font-size: var(--linkFont);
  padding-bottom: 1.1em;
  position: relative;
}
.main .neon::after {
  content: "";
  position: absolute;
  top: 1em;
  bottom: 1em;
  left: 0;
  right: 0;
  border-bottom: 2px solid var(--defaultLinkColor);
}
.main .neon:hover::after {
  border-bottom: 2px solid var(--linkHoverColor);
}


/* about and articles */
.article {
  display: flex;
  gap: 1.5em;
}
.article .heading h1 {
  font-size: var(--headingFont);
  color: var(--headingColor);
  text-transform: capitalize;
  margin-bottom: 7px;
}
.article .heading .grayLink {
  font-size: 22px;
  color: var(--headingColor);
  text-transform: capitalize;
  margin-bottom: 7px;
  text-decoration: none;
  font-weight: 700;
}
.article .heading .grayLink:hover {
  color: var(--linkHoverColor);
}

.article .side_text {
  width: 70%;
  display: flex;
  flex-direction: column;
}
.author_img {
  background-image: url(../IMG/author_img.jpg);
  width: 30%;
  height: 210px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.about_dodov .sub_description {
  font-size: 20px;
  line-height: 1.5;
}


/* latest article */

.latest_articles {
  display: flex;
  flex-direction: column;
  gap: 2em;
}
.latest_articles .sup_header {
  font-size: var(--continueFont);
  color: var(--headingColor);
  text-transform: capitalize;
}
.latest_articles .heading h1 {
  font-size: 20px;
  color: var(--headingColor);
  text-transform: capitalize;
  margin-bottom: 7px;
  font-family: "Fira Code", monospace;
}
.image1 {
  background-image: url(../IMG/number-of-ones-cover-342x.png);
  background-size: cover;
  background-position: center;
  width: 30%;
  height: 120px;
  background-repeat: no-repeat;
}

.image2 {
  background-image: url(../IMG/rm-rf-git-cover-342x.png);
  background-size: cover;
  background-position: center;
  width: 30%;
  height: 120px;
  background-repeat: no-repeat;
}
.image3 {
  background-image: url(../IMG/browser-edge-cache-cover-342x.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 30%;
  height: 120px;
}
.article .side_text .heading {
  align-self: flex-start;
}
.article .side_text > div {
  flex-grow: 1;
}
.article .side_text p {
  color: var(--headingColor);
  font-size: var(--textFont);
  font-family: "Fira Code";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
.article .side_text .date {
  color: var(--dateColor);
}
.sub_description {
  display: flex;
  align-items: flex-end;
}


/* PROJECT */
.projects {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.projects h1 {
  font-size: var(--continueFont);
  color: var(--headingColor);
  text-transform: capitalize;
}
.projects .box {
  display: flex;
  gap: 1em;
}
.projects .nexo_img {
  background-image: url(../IMG/nexo-logo.svg);
  background-repeat: no-repeat;
  width: 200px;
  height: 120px;
  background-size: contain;
}
.projects .rundown_img {
  background-image: url(../IMG/rundown-logo.svg);
  background-repeat: no-repeat;
  width: 200px;
  height: 120px;
  background-size: contain;
}

.projects .side_text .a {
  color: var(--headingColor);
  font-size: var(--headingFont);
  text-transform: capitalize;
  margin-bottom: 7px;
  text-decoration: none;
  font-weight: 700;
  font-size: 22px;
}
.projects .side_text .a:hover {
  color: var(--linkHoverColor);
}

.projects .side_text p {
  color: var(--headingColor);
  font-size: var(--textFont);
  margin-bottom: 7px;
}


/* footer */
footer {
  display: flex;
}

footer .links {
  display: flex;
  gap: 2em;
  width: 70%;
}
footer .mode {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  width: 30%;
  align-items: center;
  margin-top: 7px;
  align-self: flex-start;
}
footer .dot {
  display: flex;
  gap: 6px;
}
footer .fa-circle {
  margin-top: 12px;
  font-size: 5px;
  color: var(--defaultLinkColor);
}
.dot:hover .fa-circle {
  color: var(--linkHoverColor);
}
.continue {
  margin: 1.7em 0;
  width: 25%;
}
.continue a {
  text-decoration: none;
  color: var(--headingColor);
  font-size: var(--continueFont);
  text-transform: capitalize;
  padding: 2em 0;
}
.continue .fa-arrow-right {
  color: var(--defaultLinkColor);
  font-size: 15px;
}
.continue:hover .fa-arrow-right {
  color: var(--linkHoverColor);
}
.slash {
  position: relative;
  margin-top: 1em;
  margin-bottom: 5em;
}
.slash::before {
  content: "//";
  position: absolute;
  color: var(--dateColor);
  font-size: 25px;
}
.slash::after {
  content: "--------------------------------------------------------------";
  position: absolute;
  color: var(--dateColor);
  font-size: 30px;
  right: 0;
  font-family: "Times New Roman", Times, serif;
}


/*Mode  Selector */

.dark-mode .container {
  background-color: black;
  color: white;
}

.mode select {
 border: none;
 background-color: transparent;
 color: var(--headingColor);
 font-size: 20px;
 text-transform: capitalize;
 font-weight: 300;
 outline: none;
 display: flex;
 justify-content: flex-end;
 -webkit-appearance: none;
 -moz-appearance: none;
 text-indent: 1px;
 text-overflow: '';
 cursor: pointer;
}
.mode:hover select,.mode:hover .arrow-down{
    color: var(--linkHoverColor);
}
.mode select option{
    background-color: black;
}
.mode:hover option{
    color: white;
}

.monokai {
  color: var(--textColor);
  font-size: var(--textFont);
}
.arrow-down {
  color: var(--defaultLinkColor);
  font-size: var(--textFont);
  /* position: absolute;
  top: 30%; */
}



/* .about_dodov{
  display: grid;
  grid-template-columns: repeat(2,1fr);
}
.about_dodov .description{
  grid-column: 1/3;
  grid-auto-columns: 30%;
}
.author_img{
justify-self: start;
width: 50%;
height: 120px;
background-size: contain;
background-repeat: no-repeat;
} */